/*
btn_talk.png
사이즈 80*90
무료채팅{background-position:0 0;}
보이스톡{background-position:-80px 0;}
샵검색{background-position:-160px 0;}
톡게시판{background-position:-240px 0;}
오픈채팅{background-position:-320px 0;}
채널탭{background-position:-400px 0;}

무료채팅:hover{background-position:0 -90px;}
보이스톡:hover{background-position:-80px -90px;}
샵검색:hover{background-position:-160px -90px;}
톡게시판:hover{background-position:-240px -90px;}
오픈채팅:hover{background-position:-320px -90px;}
채널탭:hover{background-position:-400px -90px;}


이전,다음
사이즈 44*44
img_talk_button.png



이전{left:0;background-position:0 0;}
이전:hover{background-position:-70px 0;}

다음{right:0;background-position:0 -70px;}
다음:hover{background-position:-70px -70px;}
*/
@charset "UTF-8";
#wrap {
	width: 650px;
	margin: 0 auto;
	> .slide {
		> h2 {
			text-indent: -9999px;
		}
		position: relative;

		> .slide-content {
			display: flex;
			flex-flow: row nowrap;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			> li {
				width: 80px;
				height: 90px;
				text-indent: -9999px;
				background-image: url(../images/btn_talk.png);
				&:nth-child(1) {
					// background-position: 0 0;
					background-position: 0 -90px;
				}
				&:nth-child(2) {
					background-position: -80px 0;
					&:hover {
						background-position: -80px -90px;
					}
				}
				&:nth-child(3) {
					background-position: -160px 0;
					&:hover {
						background-position: -160px -90px;
					}
				}
				&:nth-child(4) {
					background-position: -240px 0;
					&:hover {
						background-position: -240px -90px;
					}
				}
				&:nth-child(5) {
					background-position: -320px 0;
					&:hover {
						background-position: -320px -90px;
					}
				}
				&:nth-child(6) {
					background-position: -400px 0;
					&:hover {
						background-position: -400px -90px;
					}
				}
			} //li
		} //.slide-content
		> .slide-img {
			display: flex;
			flex-flow: row nowrap;
			position: absolute;
			top: 140px;
			padding-left: 80px;

			> li {
				text-indent: -9999px;
				width: 478px;
				height: 438px;

				&:nth-child(1) {
					background-image: url(../images/img_talk_cont1.png);
				}
				&:nth-child(2) {
					background-image: url(../images/img_talk_cont2.png);
				}
				&:nth-child(3) {
					background-image: url(../images/img_talk_cont3.png);
				}
				&:nth-child(4) {
					background-image: url(../images/img_talk_cont4.png);
				}
				&:nth-child(5) {
					background-image: url(../images/img_talk_cont5.png);
				}
				&:nth-child(6) {
					background-image: url(../images/img_talk_cont6.png);
				}
			}
		}

		> .slide-button {
			> a {
				position: absolute;
				top: 320px;

				width: 44px;
				height: 44px;
				text-indent: -9999px;
				background-image: url(../images/img_talk_button.png);

				&:nth-child(1) {
					left: 0%;
					background-position: 0 0;
					&:hover {
						background-position: -70px 0;
					}
				}
				&:nth-child(2) {
					right: 0;
					background-position: 0 -70px;
					&:hover {
						background-position: -70px -70px;
					}
				}
			}
		}
	} //.slide
} //wrap
